@page "/InputSelect2"
@inject HttpClient Http

<h3>InputSelect2:人物クラスから名前のみをリストで表示するが、取得するのは名前ではなくID</h3>

@if (_personSelectList == null || PersonId == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@dummyModel">
        <p>
            InputSelect Name:
            <InputSelect @bind-Value="PersonId">
                @foreach (var person in _personSelectList) {
                    <option value="@person.Id">@person.Name</option>
                }
            </InputSelect>
        </p>
    </EditForm>

    <div class="card w-250" style="margin-bottom:15px">
        <div class="card-header font-weight-bold">Selected Person</div>
        <div class="card-body">
            Id:@PersonId <br>
            Name:@_personSelectList.FirstOrDefault(person=>person.Id == PersonId).Name <br>
            Profession:@_personSelectList.FirstOrDefault(person=>person.Id == PersonId).Profession <br>
            Remarks:@_personSelectList.FirstOrDefault(person=>person.Id == PersonId).Remarks <br>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Profession</th>
                <th>Remaarks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in _personSelectList)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.Name</td>
                    <td>@person.Profession</td>
                    <td>@person.Remarks</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private DummyModel dummyModel = new();
    public class DummyModel{}

    public int PersonId { get; set; }

    private List<Person> _personSelectList = new();

    protected override async Task OnInitializedAsync()
    {
        _personSelectList = await Http.GetFromJsonAsync<List<Person>>("sample-data/person.json");
        PersonId = _personSelectList.Last().Id;
    }

    public class Person {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Profession { get; set; }
        public string Remarks { get; set; }
        public Person()
        {
            Id = 0;
            Name = "";
            Profession = "";
            Remarks = "";
        }
    }

}
